streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
youtube-transcript-api==0.6.2
python-dotenv
protobuf==4.25.5
